:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(218, 135, 135, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #e92e2e;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f31010;
  }
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(198, 156, 211, 0.836);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(113, 206, 100, 0.966);
}

.glass-input {
  background: rgba(223, 97, 223, 0.829);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgb(17, 21, 224);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(28, 233, 62, 0.3);
  color: #e21c1c;
}

.glass-input::placeholder {
  color: #e01b1b;
  opacity: 1;
}
.glass-input:focus {
  outline: none;
  border-color: #646cff;
  box-shadow: 0 0 0 3px rgba(100, 108, 255, 0.3);
}
.glass-input:hover {
  border-color: #646cff;
}
.form-label {
  font-weight: 600;
  color: #eb1b1b;
}
.mb-3 {
  margin-bottom: 1rem;
}
.btn-primary {
  background-color: #646cff;
  color: #df3737;
}
.btn-primary:hover {
  background-color: #535bf2;
}
.btn-primary:focus,
.btn-primary:focus-visible {
  box-shadow: 0 0 0 3px rgba(100, 108
, 255, 0.5);
}
.btn-secondary {
  background-color: #ff6584;
  color: #d31616;
}

.btn-secondary:hover {
  background-color: #e14e6f;
}
.btn-secondary:focus,
.btn-secondary:focus-visible {

  box-shadow: 0 0 0 3px rgba(255, 101, 132, 0.5);
}
.form-control {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #db2929;
  border-radius: 4px;
}
.form-control:focus {
  border-color: #646cff;
  box-shadow: 0 0 0 3px rgba(100, 108
, 255, 0.3);
  outline: none;
}